@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-main: #0B0F19;           
  --color-surface: #111827;        
  --color-surface-elevated: #1F2937; 
  --color-brand-primary: #818CF8;   
  --color-brand-muted: #9CA3AF;     
  
  --font-sans: "Inter", "Roboto", "sans-serif";
}

@layer base {
  body {
    background-color: var(--color-main);
    color: #F9FAFB;
    font-family: var(--font-sans);
    overflow-x: hidden;
  }
  
  
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: var(--color-main);
  }
  ::-webkit-scrollbar-thumb {
    background: #2563EB33;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #818CF855;
  }
}